@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbrand {
    user-select: none;
}
.text-stroke {
    -webkit-text-stroke: 1px #000;
}

.offer-card {
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease-in-out;
    user-select: none;
}

.offer-card:hover {
    background-color: rgba(0, 0, 0, 0);
}

.offer-card .content h1 {
    text-shadow: 0rem 0.125rem #000;
}

.main::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.main::-webkit-scrollbar-thumb {
    background-color: red; /* Color of the thumb */
    border-radius: 0; /* Rounded corners of the thumb */
}

.main::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track */
}

#map {
    height: 180px;
}

/* Add margin below the search input */
.dataTables_wrapper .dataTables_filter input {
    margin-bottom: 10px; /* Adjust as needed */
}
